---
layout: default
title: Shop
---
<!-- <h1>Latest Posts</h1>

<ul>
  {% for post in site.posts %}
  <li>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
  </li>
  {% endfor %}
</ul> -->

<div class="banner_inner">
  <div class="services-breadcrumb">
    <div class="inner_breadcrumb">
      <ul class="short">
        <li>
          <a href="/">Home</a>
          <i>|</i>
        </li>
        <li>Shop</li>
      </ul>
    </div>
  </div>
</div>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
  <div class="container-fluid">
    <div class="inner-sec-shop px-lg-4 px-3">
      <h3 class="tittle-w3layouts my-lg-4 mt-3">Tất Cả Sản Phẩm </h3>
      <div class="row">      
        <div class="left-ads-display col-lg-12">      
          <div class="row">
            <!-- /womens -->
            {% for post in site.posts reversed %}

              <div class="col-md-3 product-men women_two shop-gd">
                <div class="product-googles-info googles">
                  <div class="men-pro-item">
                    <div class="men-thumb-item">
                      <img src="{{ post.url_hinh }}" class="img-fluid" alt="">
                      <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="{{ post.url }}" class="link-product-add-cart">Chi Tiết</a>
                        </div>
                      </div>
                      <span class="product-new-top">{{ post.tinh_trang }}</span>
                    </div>
                    <div class="item-info-product">
                      <div class="info-product-price">
                        <div class="grid_meta">
                          <div class="product_price">
                            <h4>
                              <a href="{{ post.url }}">{{ post.title }}</a>
                            </h4>
                            <div class="grid-price mt-2">
                              <span class="money ">Giá: {{ post.gia }}</span>
                            </div>
                          </div>    
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!--//product right-->
      </div>
      <!--/slide-->
    <div class="slider-img mid-sec mt-lg-5 mt-2">
        <!--//banner-sec-->
        <h3 class="tittle-w3layouts text-left my-lg-4 my-3">Sản Phẩm Đang Về</h3>
        <div class="mid-slider">
          <div class="owl-carousel owl-theme row">
            <div class="item">
              <div class="gd-box-info text-center">
                <div class="product-men women_two bot-gd">
                  <div class="product-googles-info slide-img googles">
                    <div class="men-pro-item">
                      <div class="men-thumb-item">
                        <img src="/assets/images/s5.jpg" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                          <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                          </div>
                        </div>
                        <span class="product-new-top">New</span>
                      </div>
                      <div class="item-info-product">

                        <div class="info-product-price">
                          <div class="grid_meta">
                            <div class="product_price">
                              <h4>
                                <a href="single.html">Fastrack Aviator </a>
                              </h4>
                              <div class="grid-price mt-2">
                                <span class="money ">$325.00</span>
                              </div>
                            </div>
                            <ul class="stars">
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="googles single-item hvr-outline-out">
                            <form action="#" method="post">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="add" value="1">
                              <input type="hidden" name="googles_item" value="Fastrack Aviator">
                              <input type="hidden" name="amount" value="325.00">
                              <button type="submit" class="googles-cart pgoogles-cart">
                                <i class="fas fa-cart-plus"></i>
                              </button>

                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="gd-box-info text-center">
                <div class="product-men women_two bot-gd">
                  <div class="product-googles-info slide-img googles">
                    <div class="men-pro-item">
                      <div class="men-thumb-item">
                        <img src="/assets/images/s6.jpg" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                          <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                          </div>
                        </div>
                        <span class="product-new-top">New</span>
                      </div>
                      <div class="item-info-product">

                        <div class="info-product-price">
                          <div class="grid_meta">
                            <div class="product_price">
                              <h4>
                                <a href="single.html">MARTIN Aviator </a>
                              </h4>
                              <div class="grid-price mt-2">
                                <span class="money ">$425.00</span>
                              </div>
                            </div>
                            <ul class="stars">
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="googles single-item hvr-outline-out">
                            <form action="#" method="post">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="add" value="1">
                              <input type="hidden" name="googles_item" value="MARTIN Aviator">
                              <input type="hidden" name="amount" value="425.00">
                              <button type="submit" class="googles-cart pgoogles-cart">
                                <i class="fas fa-cart-plus"></i>
                              </button>
                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="gd-box-info text-center">
                <div class="product-men women_two bot-gd">
                  <div class="product-googles-info slide-img googles">
                    <div class="men-pro-item">
                      <div class="men-thumb-item">
                        <img src="/assets/images/s7.jpg" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                          <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                          </div>
                        </div>
                        <span class="product-new-top">New</span>
                      </div>
                      <div class="item-info-product">

                        <div class="info-product-price">
                          <div class="grid_meta">
                            <div class="product_price">
                              <h4>
                                <a href="single.html">Royal Son Aviator </a>
                              </h4>
                              <div class="grid-price mt-2">
                                <span class="money ">$425.00</span>
                              </div>
                            </div>
                            <ul class="stars">
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="googles single-item hvr-outline-out">
                            <form action="#" method="post">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="add" value="1">
                              <input type="hidden" name="googles_item" value="Royal Son Aviator">
                              <input type="hidden" name="amount" value="425.00">
                              <button type="submit" class="googles-cart pgoogles-cart">
                                <i class="fas fa-cart-plus"></i>
                              </button>
                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="gd-box-info text-center">
                <div class="product-men women_two bot-gd">
                  <div class="product-googles-info slide-img googles">
                    <div class="men-pro-item">
                      <div class="men-thumb-item">
                        <img src="/assets/images/s8.jpg" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                          <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                          </div>
                        </div>
                        <span class="product-new-top">New</span>
                      </div>
                      <div class="item-info-product">

                        <div class="info-product-price">
                          <div class="grid_meta">
                            <div class="product_price">
                              <h4>
                                <a href="single.html">Irayz Butterfly </a>
                              </h4>
                              <div class="grid-price mt-2">
                                <span class="money ">$281.00</span>
                              </div>
                            </div>
                            <ul class="stars">
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="googles single-item hvr-outline-out">
                            <form action="#" method="post">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="add" value="1">
                              <input type="hidden" name="googles_item" value="Irayz Butterfly">
                              <input type="hidden" name="amount" value="281.00">
                              <button type="submit" class="googles-cart pgoogles-cart">
                                <i class="fas fa-cart-plus"></i>
                              </button>
                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="gd-box-info text-center">
                <div class="product-men women_two bot-gd">
                  <div class="product-googles-info slide-img googles">
                    <div class="men-pro-item">
                      <div class="men-thumb-item">
                        <img src="/assets/images/s9.jpg" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                          <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                          </div>
                        </div>
                        <span class="product-new-top">New</span>
                      </div>
                      <div class="item-info-product">

                        <div class="info-product-price">
                          <div class="grid_meta">
                            <div class="product_price">
                              <h4>
                                <a href="single.html">Jerry Rectangular </a>
                              </h4>
                              <div class="grid-price mt-2">
                                <span class="money ">$525.00</span>
                              </div>
                            </div>
                            <ul class="stars">
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="googles single-item hvr-outline-out">
                            <form action="#" method="post">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="add" value="1">
                              <input type="hidden" name="googles_item" value="Jerry Rectangular ">
                              <input type="hidden" name="amount" value="525.00">
                              <button type="submit" class="googles-cart pgoogles-cart">
                                <i class="fas fa-cart-plus"></i>
                              </button>
                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="gd-box-info text-center">
                <div class="product-men women_two bot-gd">
                  <div class="product-googles-info slide-img googles">
                    <div class="men-pro-item">
                      <div class="men-thumb-item">
                        <img src="/assets/images/s10.jpg" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                          <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                          </div>
                        </div>
                        <span class="product-new-top">New</span>
                      </div>
                      <div class="item-info-product">

                        <div class="info-product-price">
                          <div class="grid_meta">
                            <div class="product_price">
                              <h4>
                                <a href="single.html">Herdy Wayfarer </a>
                              </h4>
                              <div class="grid-price mt-2">
                                <span class="money ">$325.00</span>
                              </div>
                            </div>
                            <ul class="stars">
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="googles single-item hvr-outline-out">
                            <form action="#" method="post">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="add" value="1">
                              <input type="hidden" name="googles_item" value="Herdy Wayfarer">
                              <input type="hidden" name="amount" value="325.00">
                              <button type="submit" class="googles-cart pgoogles-cart">
                                <i class="fas fa-cart-plus"></i>
                              </button>
                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//slider-->
    </div>
  </div>
</section>