
<header>
  <div class="row">
    <div class="col-md-3 top-info text-left mt-lg-4">
      <h6>Hotline</h6>
      <ul>
        <li>
          <i class="fas fa-phone"></i>&nbsp;<strong>Phạm Tường</strong></li>
        <li class="number-phone mt-3">09333.999.48</li>
      </ul>
    </div>
    <div class="col-md-6 logo-w3layouts text-center">
      <h1 class="logo-w3layouts">
        <a class="navbar-brand" href="/">
          THÀNH PHÁT OPTIC </a>
      </h1>
    </div>

    <div class="col-md-3 top-info-cart text-right mt-lg-4">
      <ul class="cart-inner-info">
        <li class="button-log">
          <a class="btn-open" href="#">
            <span class="fa fa-user" aria-hidden="true"></span>
          </a>
        </li>
        <!-- <li class="galssescart galssescart2 cart cart box_1">
          <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="top_googles_cart" type="submit" name="submit" value="">
              Giỏ Hàng
              <i class="fas fa-cart-arrow-down"></i>
            </button>
          </form>
        </li> -->
      </ul>
      <!---->
      <div class="overlay-login text-left">
        <button type="button" class="overlay-close1">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <div class="wrap">
          <h5 class="text-center mb-4">Login Now</h5>
          <div class="login p-5 bg-dark mx-auto mw-100">
            <form action="#" method="post">
              <div class="form-group">
                <label class="mb-2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="" required="">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label class="mb-2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>

            </form>
          </div>
          <!---->
        </div>
      </div>
      <!---->
    </div>
  </div>
<!--   
  <div class="search">
    <div class="mobile-nav-button">
      <button id="trigger-overlay" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="overlay overlay-door">
      <button type="button" class="overlay-close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <form action="#" method="post" class="d-flex">
        <input class="form-control" type="search" placeholder="Search here..." required="">
        <button type="submit" class="btn btn-primary submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

    </div>
  </div> -->
  
  <label class="top-log mx-auto"></label>
  <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">

      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-mega mx-auto">
        <li class="nav-item active">
          <a class="nav-link ml-lg-0" href="/">Trang Chủ
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sản Phẩm Mới
          </a>
          <ul class="dropdown-menu mega-menu ">
            <li>
              <div class="row">
                <div class="col-md-4 media-list span4 text-left">
                  <h5 class="tittle-w3layouts-sub"> Gọng Kính Mới </h5>
                  <ul>
                    <li class="media-mini mt-3">
                      <a href="/gong-nhua">Gọng Nhựa Rolls Royce ( R )</a>
                    </li>
                    <li class="">
                      <a href="/gong-nhua">Gọng Nhựa TR-90</a>
                    </li>
                    <li>
                      <a href="/gong-nhua">Gọng Nhựa Teen </a>
                    </li>
                    <li class="mt-3">
                      <h5>Gọng Kim Loại </h5>
                    </li>
                    <li class="mt-2">
                      <a href="/gong-kim-loai">Gọng Kim Loại Titanium</a>
                    </li>
                    <li>
                      <a href="/gong-kim-loai">Gọng Kim Loại Charmant</a>
                    </li>
                    <li>
                      <a href="/gong-kim-loai">Gọng Kim Loại Thường</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 media-list span4 text-left">
                  <h5 class="tittle-w3layouts-sub"> Tròng Kính Mới </h5>
                  <div class="media-mini mt-3">
                    <a href="/trong-kinh">
                      <img src="/assets/images/g2.jpg" class="img-fluid" alt="">
                    </a>
                  </div>
                </div>
                <div class="col-md-4 media-list span4 text-left">
                  <h5 class="tittle-w3layouts-sub">Kính Mát Mới </h5>
                  <div class="media-mini mt-3">
                    <a href="/shop">
                      <img src="/assets/images/g3.jpg" class="img-fluid" alt="">
                    </a>
                  </div>

                </div>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tất Cả Sản Phẩm
          </a>
          <ul class="dropdown-menu mega-menu ">
            <li>
              <div class="row">
                <div class="col-md-4 media-list span4 text-left">
                  <h5 class="tittle-w3layouts-sub">Tròng Kính </h5>
                  <ul>
                    <li class="media-mini mt-3">
                      <a href="/trong-kinh">Tròng HC</a>
                    </li>
                    <li class="">
                      <a href="/trong-kinh">Tròng Kính HMC</a>
                    </li>
                    <li>
                      <a href="/trong-kinh">Tròng Đổi Màu</a>
                    </li>
                    <li>
                      <a href="/trong-kinh">Tròng Màu( CR-Nhuộm )</a>
                    </li>
                    <li>
                      <a href="/trong-kinh">Flat Top HC ( 2 Rròng HC )</a>
                    </li>
                    <li>
                      <a href="/trong-kinh">Progressive Hc ( Đa tròng HC) </a>
                    </li>
                    <li>
                      <a href="/trong-kinh">Blue Block Cut ( ASX )</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 media-list span4 text-left">
                  <h5 class="tittle-w3layouts-sub"> Gọng Kính </h5>
                  <ul>
                    <li class="media-mini mt-3">
                      <a href="/gonh-nhua">Gọng Nhựa Rolls Royce ( R )</a>
                    </li>
                    <li class="">
                      <a href="/gonh-nhua">Gọng Nhựa TR-90</a>
                    </li>
                    <li>
                      <a href="/gonh-nhua">Gọng Nhựa Teen </a>
                    </li>
                  </ul>
                  <ul class="sub-in text-left">
                    <li class="mt-3">
                      <h5>Gọng Kim Loại </h5>
                    </li>
                    <li class="mt-2">
                      <a href="/gong-kim-loai">Gọng Kim Loại Titanium</a>
                    </li>
                    <li>
                      <a href="/gong-kim-loai">Gọng Kim Loại Charmant</a>
                    </li>
                    <li>
                      <a href="/gong-kim-loai">Gọng Kim Loại Thường</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 media-list span4 text-left">
                  <h5 class="tittle-w3layouts-sub">Kính Mát Nam </h5>
                  <ul>
                    <li class="media-mini mt-3">
                      <a href="/shop">Kính Mát Nam Rẻ </a>
                    </li>
                    <li class="">
                      <a href="/shop">Kính Mát Nam Phim </a>
                    </li>
                    <li>
                      <a href="/shop">Kính Mát Nam Đổi Màu </a>
                    </li>
                  </ul>

                  <ul class="sub-in text-left">
                    <li class="mt-3">
                      <h5 class="tittle-w3layouts-sub">Kính Mát Nữ </h5>
                    </li>
                    <li class="media-mini mt-3">
                      <a href="/shop">Kính Mát Nữ Rẻ </a>
                    </li>
                    <li class="mt-2">
                      <a href="/shop">Kính Mát Nữ Phim </a>
                    </li>
                  </ul>
                </div>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">Liên Hệ </a>
        </li>
      </ul>

    </div>
  </nav>

</header>


