<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KHO KÍNH GỌNG TRÒNG SỈ  | {{ page.title }}</title>
  <meta name="keywords"
    content="Thanh Phat Optic a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Thanh Phat Optic Compatible web template, 
  Thanh Phat Optic Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
  <script src="/assets/js/jquery-2.2.3.min.js"></script>
  <link
    href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% feed_meta %}
  {% seo %}
</head>

<body>
  <div class="banner-top container-fluid" id="home">
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  </div>
</body>

</html>